[submodule "startup-engineering-stanford/hw3/bitstarter"]
	path = startup-engineering-stanford/hw3/bitstarter
	url = https://github.com/caarlos0/bitstarter.git
[submodule "startup-engineering-stanford/hw4/bitstarter"]
	path = startup-engineering-stanford/hw4/bitstarter
	url = https://github.com/caarlos0/bitstarter
[submodule "startup-engineering-stanford/hw6"]
	path = startup-engineering-stanford/hw6
	url = https://github.com/caarlos0/bitstarter
[submodule "startup-engineering-stanford/hw7"]
	path = startup-engineering-stanford/hw7
	url = https://github.com/caarlos0/bitstarter
[submodule "startup-engineering-stanford/ssjs-db"]
	path = startup-engineering-stanford/ssjs-db
	url = https://github.com/caarlos0/bitstarter-ssjs-db
